.advantages {
    padding-top: 40px;
    padding-bottom: 57px;
    background-color: $white;

    @media(max-width: 1000px){
        padding-bottom: 0;
    }
    @media(max-width: 550px){
        padding-bottom: 55px;
    }
    @media(max-width: 400px){
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @media(max-width: 1000px){
            flex-wrap: wrap;
        }
    }
    &__item {
        flex: 0 1 23.5%;
        @media(max-width: 1000px){
            flex: 0 1 48%;
            margin-bottom: 50px;
        }
        @media(max-width: 550px){
            text-align: center;
            flex: 1 1 auto;
            margin-bottom: 0;
        }
    
        &+&{
            @media(max-width: 550px){
                margin-top: 40px;
            }
            @media(max-width: 400px){
                margin-top: 20px;
            }
    
        }

        &-img{
            height: 100%;
            max-height: 80px;
            display: flex;
            margin-bottom: 20px;
            @media(max-width: 550px){
                align-items: center;
                justify-content: center;
            }    
            svg{
            }
        }
        &-title {
            font-weight: 700;
            line-height: 1.4;
            font-size: 18px;
            padding-bottom: 10px;
        }
        &-text {
            line-height: 1.4;
            font-size: 16px;

        }    
    }
}
