@import "mixins";
@import "fonts";

html, body{
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
h1, h2, h3 ,h4 ,h5 ,p ,ul, ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style-type: none;
    outline: none;
    border: none;
}
button{
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font: inherit;
    padding: 0;
}
input, textarea{
    outline: none;
    border: none;
}
textarea{
    font-family: inherit;
}
label{
    display: inline-block;
}
.checkbox{
    display: flex;
    align-items: center;
    user-select: none;
    
    input[type=checkbox]{
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;

        & + span::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 15px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 2px solid #dadada;
        }
        &:checked + span{
            &::before{
                border: 2px solid #009aaf;
            
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                left: 3px;
                top: 3px;
                background-color: #53b5de;
                width: 9px;
                height: 9px;
            }
        }
    }
    span{
        display: block;
        position: relative;
        padding-left: 2em;
    }
}

.spoller{
    cursor: pointer;
}
.select{
    position: relative;

    &::after{
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
    }

    select{
        cursor: pointer;
        background: none;
        border: 0;
        appearance: none;
        outline: none;
        &:focus{
            outline: none;
        }

        option{
            color: #000000;
            
            &:hover{
            }

        }
    }
}
.tabs {
}
.tab {
    &--active {
    }
    &-block{
        display: none;

        &--active{
            display: flex;

        }
    }
}
.rub{
    &::after{
        content: '₽';
    }
}
.star-valid{
    &::after{
        content: '*';
        color: red;
    }
}
.pop-up-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}
.pop-up-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 11;
}
.btn-close{
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.menu-icon{
    display: block;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    z-index: 5;
    
    span,
    &::before,
    &::after{
        width: 100%;
        height: 15%;
        position: absolute;
        border-radius: 2px;
        transition: all 0.2s;
    }
    &::before,
    &::after{
        content: "";
    }
        
    &::before{
        top: 0;
    }
    span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
    &::after{
        bottom: 0;
    }
    
    
}
.rating-area{
    width: 282px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    @media (max-width: 700px){
        width: 220px;
    }        
    &>input{
        position: absolute;
        top: 100%;
        left: 50%;
        // width: 0;
        // height: 0;
        // visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    label{
        cursor: pointer;
        display: block;
        flex: 0 0 16%;
        height: 40px;
        background-image: url('data:image/svg+xml;utf8,<svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.9375 14.0851L30.388 12.2602L24.331 0.880338C24.1655 0.568764 23.8934 0.316538 23.5572 0.163224C22.714 -0.222535 21.6894 0.0989307 21.2678 0.880338L15.2108 12.2602L1.66126 14.0851C1.2877 14.1346 0.946163 14.2978 0.684671 14.5451C0.368543 14.8462 0.194342 15.2513 0.200346 15.6714C0.206349 16.0915 0.392067 16.4922 0.716691 16.7854L10.5199 25.643L8.20388 38.1505C8.14957 38.4415 8.18431 38.7407 8.30417 39.0143C8.42402 39.2879 8.6242 39.5249 8.88199 39.6984C9.13979 39.8719 9.44488 39.975 9.76269 39.996C10.0805 40.017 10.3983 39.9551 10.68 39.8172L22.7994 33.9121L34.9187 39.8172C35.2496 39.9804 35.6338 40.0348 36.002 39.9754C36.9306 39.8271 37.555 39.0111 37.3949 38.1505L35.0788 25.643L44.8821 16.7854C45.1489 16.5431 45.325 16.2266 45.3783 15.8804C45.5224 15.0149 44.8714 14.2137 43.9375 14.0851Z" fill="%23D2D2D2"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all .3s;
        @media (max-width: 700px){
            height: 30px;
        }        
    }
    label:hover,
    label:hover ~ label,
    label:checked ~ label:hover
    {
        background-image: url('data:image/svg+xml;utf8,<svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.9375 14.0851L30.388 12.2602L24.331 0.880338C24.1655 0.568764 23.8934 0.316538 23.5572 0.163224C22.714 -0.222535 21.6894 0.0989307 21.2678 0.880338L15.2108 12.2602L1.66126 14.0851C1.2877 14.1346 0.946163 14.2978 0.684671 14.5451C0.368543 14.8462 0.194342 15.2513 0.200346 15.6714C0.206349 16.0915 0.392067 16.4922 0.716691 16.7854L10.5199 25.643L8.20388 38.1505C8.14957 38.4415 8.18431 38.7407 8.30417 39.0143C8.42402 39.2879 8.6242 39.5249 8.88199 39.6984C9.13979 39.8719 9.44488 39.975 9.76269 39.996C10.0805 40.017 10.3983 39.9551 10.68 39.8172L22.7994 33.9121L34.9187 39.8172C35.2496 39.9804 35.6338 40.0348 36.002 39.9754C36.9306 39.8271 37.555 39.0111 37.3949 38.1505L35.0788 25.643L44.8821 16.7854C45.1489 16.5431 45.325 16.2266 45.3783 15.8804C45.5224 15.0149 44.8714 14.2137 43.9375 14.0851Z" fill="%23F5C520"/></svg>');
    }
    input:checked,
    input:checked ~ label
    {
        background-image: url('data:image/svg+xml;utf8,<svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.9375 14.0851L30.388 12.2602L24.331 0.880338C24.1655 0.568764 23.8934 0.316538 23.5572 0.163224C22.714 -0.222535 21.6894 0.0989307 21.2678 0.880338L15.2108 12.2602L1.66126 14.0851C1.2877 14.1346 0.946163 14.2978 0.684671 14.5451C0.368543 14.8462 0.194342 15.2513 0.200346 15.6714C0.206349 16.0915 0.392067 16.4922 0.716691 16.7854L10.5199 25.643L8.20388 38.1505C8.14957 38.4415 8.18431 38.7407 8.30417 39.0143C8.42402 39.2879 8.6242 39.5249 8.88199 39.6984C9.13979 39.8719 9.44488 39.975 9.76269 39.996C10.0805 40.017 10.3983 39.9551 10.68 39.8172L22.7994 33.9121L34.9187 39.8172C35.2496 39.9804 35.6338 40.0348 36.002 39.9754C36.9306 39.8271 37.555 39.0111 37.3949 38.1505L35.0788 25.643L44.8821 16.7854C45.1489 16.5431 45.325 16.2266 45.3783 15.8804C45.5224 15.0149 44.8714 14.2137 43.9375 14.0851Z" fill="%23F5C520"/></svg>');
    }
}