.cost-calculation-individal {
    &__inner {
    }
    &__head {
    }
    &__slider {

    }
    &__calculator {

    }
}
.head-calculation-individal {
    &__title {
        padding-bottom: 10px;
        @media (max-width: 1099px){
            text-align: center;
        }
        @media (max-width: 767px){
            padding-right: 47px;
            padding-left: 47px;
            font-size: 24px;
        }
        @media (max-width: 479px){
            padding-bottom: 20px;
            padding-right: 0;
            padding-left: 0;
        }    
    }
    &__subtitle {
        @include adaptiv-font(24, 18, 1);
        line-height: 1.4;
        color: $green;
    }
    @media (max-width: 1000px){
        text-align: center;
    }
}
.form-calculation-individal {
    border-radius: 10px;
    background-color: $white;
    padding: 40px 57px;
    &__title {
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 20px;
        @media (max-width: 1099px){
            margin-bottom: 30px;
        }    
        @media (max-width: 767px){
            margin-bottom: 20px;
        }    
    }
    &__label{
        color: $grey1;
        padding-bottom: 10px;
    }
    &__types {
        margin-bottom: 10px;
    }
    &__square{
        margin-bottom: 20px;
    }
    &__result {
        margin-bottom: 25px;
        @media (max-width: 999px){
            margin-bottom: 30px;
        }    
    }
    &__btn {
        width: 100%;
        padding: 9.5px 0;
        text-align: center;
        font-weight: 700;
        color: $white;
        border-radius: 10px;
        font-size: 15px;
        text-transform: uppercase;
    }
    @media (max-width: 1099px){
        padding: 36px 46px 40px;
    }
    @media (max-width: 999px){
        padding: 37px 29px;
    }
    @media (max-width: 767px){
        padding: 30px 20px;
    }
    @media (max-width: 479px){
        margin-left: -20px;
        margin-right: -20px;
    }
}
.types-form-calculation-individal {
    position: relative;
    &__btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-width: .4px;
        padding: 7px 40px 8px 20px;
        text-align: left;
        line-height: 1.4;
        font-size: 16px;
        position: relative;
        z-index: 3;

        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transition: all .3s;
            transform: translateY(-50%);
            right: 20px;
            width: 15px;
            height: 8px;
            background-image: url('../images/icons/arrow-green-icon.svg');
            background-repeat: no-repeat;
        }
        &--active{
            border-radius: 10px 10px 0 0;
            &::after{
                transform: translateY(-50%) rotateX(180deg);
            }
        }
    }
    &__list {
        top: 24.6px;
        border: 0 solid transparent;
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding: 0 20px;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
            top: 10px;
            bottom: 10px;
            background-color: $grey1;
        }
        &--active{
            border-top: 0;
            border: 0.4px solid $green;
            padding: 26px 20px 12px;
        }

        &-item {
            cursor: pointer;
            &+&{
                margin-top: 12px;
            }
        }
    }
    &__select {
        &-item {}
    }
}
.list-drop-down {
    &__item {}
}
.result-form-calculation-individal {
    &__text {
    }
}
