.description {
    padding: 40px 0 60px;
    @media (max-width: 1000px){
        padding: 20px 0 30px;
    }    
    @media (max-width: 500px){
        padding: 0 0 30px;
    }    

    &__wrapper {
        background-color: $white;
        border-radius: 10px;
        padding: 40px;    
        @media (max-width: 1000px){
            padding: 20px;
        }        
    }
    &__text {
        padding-bottom: 50px;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .02em;
        @media (max-width: 500px){
            padding-bottom: 30px;
            line-height: 1.2;
        }        
        @media (max-width: 400px){
            padding-bottom: 20px;
        }        
    }
    &__bottom {
    }
}
.bottom-description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 760px){
        flex-wrap: wrap;
        justify-content: center;
    }    

    &__time {}
    &__btn {}
}
.time-description {
    display: flex;
    align-items: center;
    @media (max-width: 760px){
        flex: 0 1 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    @media (max-width: 400px){
        flex-wrap: wrap;
        justify-content: center;
    }    
    
    &__text {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .02em;
        padding-right: 20px;
        display: inline-block;
        @media (max-width: 760px){
            text-align: center;
            padding-right: 0;
        }    
        @media (max-width: 400px){
            flex: 0 1 100%;
            margin-bottom: 10px;
        }    
    
    }
    &__value {
        display: inline-block;
        padding-right: 10px;
        @media (max-width: 760px){
            margin-left: auto;
        }    
        @media (max-width: 400px){
            margin-left: 0;
        }    
    
    }
    &__btn{
        display: inline-block;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .02em;
    }
}
