.feedback {
    &__form {
        margin-left: 20px;
        flex: 1 1 auto;
        @media (max-width: 1150px){
            flex: 0 1 50%;
        }    
        @media (max-width: 790px){
            flex: 1 1 auto;
            margin-left: 0;
            margin-top: 20px;
        }              
    }
}
.form-feedback {
    @media (max-width: 550px){
        padding: 15px;
    }              

    &__title {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        @media (max-width: 1150px){
            text-align: right;
            margin-right: 40px;
        }    
        @media (max-width: 790px){
            text-align: center;
            margin-right: 0;
            margin-bottom: 20px;
        }
        @media (max-width: 550px){
            margin-bottom: 15px;
        }                  
    }
    &__inner {
        display: flex;
        @media (max-width: 1150px){
            flex-wrap: wrap;
        }    
    }
    &__column {
        flex: 0 1 50%;
        @media (max-width: 1150px){
            flex: 0 1 100%;
        }    
        &+&{
            margin-left: 20px;
            @media (max-width: 1150px){
                margin-left: 0;
                margin-top: 20px;
            }    
            @media (max-width: 790px){
                margin-top: 15px;
            }    
        }
    }
    &__input{
        &:first-child{
            margin-bottom: 20px;
            @media (max-width: 790px){
                margin-bottom: 15px;
            }
        }
    }
    &__btn {
        span{
            display: inline-block;
            padding-right: 40px;
            position: relative;
            &::after{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../images/icons/message-white-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }    
        }
    }
}
