.footer {
    color: $white;
    background-color: #343A40;
    padding-top: 37px;
    padding-bottom: 17px;

    @media (max-width: 767px){
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__top {}
    &__bottom {}
}
.top-footer {
    display: flex;
    padding-bottom: 35px;

    @media (max-width: 1000px){
        flex-wrap: wrap;
        padding-bottom: 7px;
    }

    &__menu {
        flex: 1 1 auto;
    }
    &__info {
        margin-left: 45px;
        position: relative;
        @media (max-width: 1100px){
            margin-left: 25px;
        }
        @media (max-width: 1050px){
            margin-left: 15px;
        }
        @media (max-width: 1000px){
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }    
        @media (max-width: 850px){
            margin-top: 20px;
            padding-top: 20px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1.5px;
                background-color: #C4C4C4;
                border-radius: 4px;
                @media (max-width: 479px){
                    height: 1px;
                }        
            }
        }
        @media (max-width: 479px){
            margin-top: 10px;
            padding-top: 10px;
        }
    }
}
.menu-footer {
    &__list {
    }
}
.list-menu-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px){
        display: block;
    }

    &__item {
        max-width: 206px;
        @media (max-width: 850px){
            display: none;
        }
        &:last-child{
            @media (max-width: 850px){
                display: block;
                max-width: 100%;
                text-align: center;
            }
        }
    }
}
.item-menu-footer {
    &__title {
        display: inline-block;
        width: 100%;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: $grey1;
        padding-bottom: 13px;
        margin-bottom: 10px;
        border-bottom: 0.5px solid $grey1;
        position: relative;
        @media (max-width: 850px){
            display: none;
        }
    }
    &__sublist {}
    &__social {
        margin-bottom: 24px;
        max-width: 130px;

        @media (max-width: 850px){
            margin: 0 auto 24px;
        }
    }
    &__link {
        display: block;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.3;
        letter-spacing: .03em;
    }
    &__address {
        &-wrapper{
            margin-top: 20px;
            font-size: 15px;
            line-height: 1.3;
            letter-spacing: .03em;
            font-style: normal;
        }
    }
}
.sublist-menu-footer {
    &__subitem {}
}
.subitem-menu-footer {
    &+&{
        margin-top: 10px;
    }
    &__link {
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.03em;    
    }
}
.social-menu-footer {
    display: flex;
    justify-content: space-between;
    &__item {
    }
}
.item-social-footer {
    display: flex;
    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:hover{
            @media(min-width: 993px){
                path{
                    fill: #fff;
                }
            }
        }
        svg{
            justify-content: center;
            align-items: center;

            path, stop{
                transition: all .3s;
            }

            #social1 { fill: url(#Gradient1); }
            #social2 { fill: url(#Gradient2); }
            #social3 { fill: url(#Gradient3); }
            
            .stop1, .stop2, .stop3 { 
                stop-color: rgb(255, 255,255);
            }
        }
        &-vk:hover{
            @media(min-width: 993px){
                .stop1 { stop-color: rgb(42,109,255); }
                .stop2 { stop-color: rgb(61,188,255); }
            }
        }
        &-instagramm:hover{
            @media(min-width: 993px){
                .stop1 { stop-color: rgb(182, 42, 153); }
                .stop2 { stop-color: rgb(214, 71, 99); }
                .stop3 { stop-color: rgb(238, 160, 84); }
            }
        }
        &-youtube:hover{
            @media(min-width: 993px){
                .stop1 { stop-color: rgb(221, 136, 133); }
                .stop2 { stop-color: rgb(215, 30, 24); }
                .stop3 { stop-color: rgb(215, 30, 24); }
            }
        }
    }
}
.info-footer {
    width: 195px;
    @media (max-width: 1100px){
        width: 180px;
    }
    @media (max-width: 1050px){
        width: 160px;
    }
    svg{
        width: 100%;
    }

    &__link-logo {
        display: block;
        margin-bottom: 20px;
        @media (max-width: 1000px){
            display: none;
        }    
    }
    &__link {
        font-family: 'Roboto';
        display: inline-block;
        font-size: 8px;
        line-height: 1.07;
        text-decoration-line: underline;
        letter-spacing: .03em;
        @media (max-width: 1000px){
            width: 100%;
            text-align: center;
        }    

    }
}
.bottom-footer {
    text-align: center;
    &__text {
        font-family: 'Roboto';
        font-size: 8px;
        line-height: .9;
        letter-spacing: 0.03em;
        color: #D0D9DE;
    }
}
