.frequently-asked-questions {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    @media(max-width: 1150px){
        padding-top: 20px;
        padding-bottom: 25px;
    }
    @media(max-width: 500px){
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__title {
        padding-bottom: 20px;
        @media(max-width: 1150px) {
            padding-bottom: 30px;
        }
        @media(max-width: 767px) {
            padding-bottom: 20px;
        }
    }
    &__list {}
    &__block {}
}
.block-questions {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;

    @media(max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    @media(max-width: 479px) {
        padding-bottom: 5px;
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #C4C4C4;
        border-radius: 4px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        @media(max-width: 767px) {
            padding-bottom: 15px;
            svg{
                width: 23px;
            }
        }
        @media(max-width: 479px) {
            align-items: flex-start;
            padding-bottom: 5px;
            svg{
                width: 25px;
            }
        }

    }
    &__body {
    }

    &--active{
        .head-block-questions {
            &__title {
                color: $green;
            }
            svg{
                transform: rotateX(180deg);
                path{
                    fill: $green;
                }
            }    
        }
        .body-block-questions {
            overflow: hidden;
            opacity: 1;
            visibility: visible;
        }

    }
}
.head-block-questions {
    cursor: pointer;
    &__title {
        text-align: left;
        transition: all .3s;
        @include adaptiv-font(20, 16, 1);
        font-weight: 500;
        line-height: 1.3;
    }
    &__img {
        padding-left: 20px;
        display: flex;
        @media(max-width: 479px) {
            padding-top: 5px;
        }
        svg{
            justify-content: center;
            align-items: center;
            transition: all .3s;
            path {
                transition: all .3s;
            }        
        }
    }
    &:hover{
        @media(min-width: 993px){
            .head-block-questions__title {
                color: $green;
            }        
            svg path {
                fill: $green;
            }    
        }
    }
}
.body-block-questions {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;

    &__wrapper{
        padding: 10px 100px;
        @media(max-width: 999px) {
            padding: 10px 0 30px;
        }
        @media(max-width: 767px) {
            padding-top: 15px;
            padding-bottom: 15px;
        }    
        @media(max-width: 479px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }    
    }
    &__text {
        text-align: left;
        @include adaptiv-font(18, 15, 1);
        line-height: 1.4;
    }
    &__link--black {
        font-weight: 500;
        text-decoration: underline;
    }
    &__link--green {
        color: $green;
    }
}
