.reliability {
    background-color: $white;
    padding: 20px 0 0;
    &__title {
        text-align: center;
        font-weight: 500;
        padding-bottom: 40px;
        @media (max-width: 800px){
            padding-bottom: 30px;
        }    
        @media (max-width: 600px){
            @include adaptiv-font(26, 24, 1);
        }
        @media (max-width: 550px){
            padding-bottom: 25px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 40px;
        @media (max-width: 800px){
            flex: 0 1 100%;
            margin-bottom: 30px;
        }    
    }
}
.item-reliability {
    flex: 0 1 46%;
    display: flex;

    @media (max-width: 1000px){
        flex: 0 1 49%;
    }
    @media (max-width: 400px){
        flex-wrap: wrap;
    }

    &__img {
        flex: 0 1 50px;
        display: flex;
        justify-content: center;
        margin-right: 30px;
        @media (max-width: 400px){
            flex: 0 1 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }    
    }
    &__content {
        flex: 1 1 auto;
    }
}
.content-item-reliability {
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        padding-bottom: 15px;
        @media (max-width: 400px){
            padding-bottom: 10px;
        }    
    }
    &__text {
        font-size: 18px;
        line-height: 1.4;
        @media (max-width: 600px){
            font-size: 16px;
        }    
    }
}
