.services {
    padding-bottom: 100px;
    @media (max-width: 1150px){
        padding-bottom: 70px;
    }
    @media (max-width: 1000px){
        padding-bottom: 40px;
    }    
    &__breadcrumb {
        padding: 40px 0;
        @media (max-width: 1000px){
            padding: 20px 0;
        }    
    }
    &__box {
        &+&{
            padding-top: 21px;
            margin-top: 20px;
            border-top: 1px solid rgba(184, 204, 229, 0.5);
            @media (max-width: 550px){
                padding-top: 12px;
            }        
        }
    }
    &__title{
        padding-bottom: 60px;
        @media (max-width: 1150px){
            padding-bottom: 40px;
        }    
        @media (max-width: 1000px){
            padding-bottom: 20px;
        }        
    }
    &__feedback {
        padding-top: 50px;
        @media (max-width: 1150px){
            padding-top: 20px;
        }    
    }
}
.box-services {
    &__title {
        font-weight: 500;
        font-size: 24px;
        @include adaptiv-font(24, 20, 1);
        line-height: 1.4;
        padding-bottom: 20px;
    }
    &__wrapper {
        padding: 30px 20px;
        border-radius: 10px;
        background-color: $white;
        display: flex;
        @media (max-width: 1000px){
            flex-wrap: wrap;
            padding: 20px;
        }    
    }
    &__content {
        flex: 0 1 25%;
        @media (max-width: 1000px){
            flex: 0 1 50%;
        }    
        @media (max-width: 1000px){
            padding: 7px;
        }        
        @media (max-width: 550px){
            flex: 0 1 100%;
            padding: 0;
        }        
        &+&{
            padding-left: 10px;
            @media (max-width: 550px){
                padding-left: 0;
                padding-top: 7px;
            }            
        }
    }
}
.content-services {
    &__subtitle {
        margin-bottom: 10px;
    }
    &__list {}
}
.list-services {
    &__item {
        position: relative;
        transition: all 0.3s;
        &::before{
            content: '';
            transition: all 0.3s;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            border-radius: 0 2px 2px 0px;
            background-color: $green;
            height: 90%;
            width: 3px;
            opacity: 0;
        }
        &:hover{
            @media(min-width: 993px){
                padding-left: 10px;

                &::before{
                    opacity: 1;
                }    
            }
        }

        &+&{
            margin-top: 12px;
        }
    }
    &__link {
        
    }
}
.feedback {
    &__inner {
        display: flex;
        align-items: flex-start;
        @media (max-width: 930px){
            align-items: stretch;
        }   
        @media (max-width: 790px){
            flex-wrap: wrap;
        }             
    }
    &__info {
        padding: 20px 35px;
        @media (max-width: 1150px){
            flex: 0 1 50%;
            padding: 25px 25px 40px;
        }   
        @media (max-width: 790px){
            flex: 1 1 auto;
            padding: 25px;
        }              
    }
}
.info-feedback {
    background: $white;
    border-radius: 10px;
    line-height: 1.4;
    text-align: center;
    &__title {
        @include adaptiv-font(24, 20, 1);
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 18px;
    }
    &__content {
        margin-top: 40px;
        display: flex;
        align-items: center;

        @media (max-width: 1150px){
            margin-top: 50px;
            flex-direction: column;
        }    
        @media (max-width: 930px){
            margin-top: 30px;
        }     
        @media (max-width: 790px){
            margin-top: 20px;
        }    
    }
}
.content-info-feedback {
    &__social {
    }
    &__phone {
        white-space: nowrap;
        font-weight: 500;
        @include adaptiv-font(20, 18, 1);
        line-height: 1.4;
        color: $green;
        margin-left: 20px;
        margin-right: 20px;
        @media (max-width: 1150px){
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            color: $black;
        }   
        @media (max-width: 790px){
            margin-bottom: 15px;
        } 
    }
    &__mail {
        @include adaptiv-font(18, 16, 1);
        @media (max-width: 1150px){
            font-weight: 500;
        }    
    }
}
@import "feedback-form";
