$minWidth: 280px;
$maxWidth: 1400;
$maxWidthContainer: 1250;

/*Default font*/
$fontFamaly: "Ubuntu";
$green: #219653;
$springGreen: #36D379;
$black: #222;
$white: #FEFEFE;
$blue1: #7198CB;
$blue2: #B8CCE5;
$grey1: #707070;
$grey2: #F4F4F4;

@import "basic";

body{
    font-family: $fontFamaly, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: $grey2;
    color: $black;    
}
.container{
    max-width: $maxWidthContainer + px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn-green {
    display: inline-block;
    font-family: "Roboto";
    color: $white;
    background-color: $green;
    transition: all 0.3s;
    &:hover{
        @media(min-width: 993px){
            background-color: $springGreen;
        }
    }
}
.btn-white {
    background-color: $white;
    border: 0.5px solid $green;
    display: inline-block;
    transition: all 0.3s;
    border-radius: 10px;
}
.link-green {
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.3;
    color: $green;
    transition: all 0.3s;

    &:hover{
        @media(min-width: 993px){
            color: $springGreen;
        }
    }
}
.title{
    font-weight: 700;
    line-height: 1.3;
    @include adaptiv-font(32, 20, 1);
    color: $black;
    &-green{
        line-height: 1.3;
        color: $green;
        font-weight: 500;
    }    
}
.subtitle{
    @include adaptiv-font(30, 26, 1);
    line-height: 1.3;
    font-weight: 700;
    color: $black;

    &-blue{
        color: $blue1;
        transition: all .3s;
        &:hover{
            @media(min-width: 993px){
                color: $blue2;
            }
        }
    }

    @media(max-width: 768px){
        font-weight: 500;
    }
}
.select-hide{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #fefefe;
}
.list-drop-down {
    position: absolute;
    z-index: 2;
    background-color: $white;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: padding .3s ease-out, max-height .3s ease-out, border .3s ease-out;

    &__item {
        font-size: 16px;
        position: relative;
        transition: all 0.3s;
        &::before{
            content: '';
            transition: all 0.3s;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            border-radius: 0 2px 2px 0px;
            background-color: $green;
            height: 90%;
            width: 3px;
            opacity: 0;
        }
        &+&{
            margin-top: 8px;
        }
        &:hover{
            @media(min-width: 993px){
                padding-left: 10px;

                &::before{
                    opacity: 1;
                }    
            }
        }
        &--active{
            padding-left: 10px;
            &::before{
                opacity: 1;
            }
        }
    }
    &__link {
        line-height: 1.6;
    }
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
        font-weight: 500;
        line-height: 1.4;
        &--black{
            color: $black;
            font-size: 20px;
        }
        &--green{
            color: $green;
            font-size: 20px;
        }
        &--blue{
            padding-left: 22px;
            color: $blue1;
            @include adaptiv-font(18, 16, 1);
            position: relative;

            &::before{
                content: '';
                position: absolute;
                bottom: 50%;
                left: 0;
                width: 15px;
                height: 15px;
                background-image: url('../images/icons/schedule-blue-icon.svg');
                background-repeat: no-repeat;
                background-size: contain;
                transform: translateY(50%);
            }
        }
    }
}
.breadcrumb {
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    &__item {
        &+&{
            margin-left: 20px;
            padding-left: 25px;
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 5px;
                height: 8px;
                background-image: url('../images/icons/arrov-grey-right-icon.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        &:first-child{
            &>a{
                padding-left: 17px;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    background-image: url("data:image/svg+xml;utf8,<svg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.8 10V6.47059H7.2V10H10.2V5.29412H12L6 0L0 5.29412H1.8V10H4.8Z' fill='%23707070'/></svg>");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 12px;
                    height: 10px;
                    transition: all .3s;
                }
                &:hover::before{
                    @media(min-width: 993px){
                        background-image: url("data:image/svg+xml;utf8,<svg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.8 10V6.47059H7.2V10H10.2V5.29412H12L6 0L0 5.29412H1.8V10H4.8Z' fill='%23222'/></svg>");
                    }
                }
            }
        }
        &:last-child{
        }
    }
    &__link {
        color: $grey1;
        transition: all .3s;
        &:hover{
            @media(min-width: 993px){
                color: $black;
            }
        }
    }
}
.form-calculation {
    &__label {
        display: inline-block;
        color: $grey1;
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 10px;
    }
    &__square {
        margin-bottom: 20px;
        @media (max-width: 999px){
            margin-bottom: 33px;
        }    
        @media (max-width: 767px){
            margin-bottom: 20px;
        }    
    }
}
.form {
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    line-height: 1.4;

    &__input {
        background-color: $white;
        border: .5px solid $blue2;
        border-radius: 10px;
        padding: 14px 20px;
        width: 100%;
        transition: all .3s;

        @media (max-width: 550px){
            padding: 12px 18px;
        }            

        &:invalid{
            background-color: rgba(#ffa3a39c, 0.6);
            &, &::placeholder{
                color: $white;
            }    
        }

        &:not(:focus):invalid {
            background-color: $white;
            &, &::placeholder{
                color: $grey1;
            }    
        }

        &, &::placeholder{
            font-weight: 300;
            font-size: 16px;
            color: $grey1;
            line-height: 1.4;
        }
    }
    &__btn {
        display: block;
        padding: 14px 20px;
        line-height: 1.5;
        width: 100%;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;

        @media (max-width: 550px){
            padding: 12px 18px;
        }            
    }
}
.pop-up {
    z-index: 12;
    margin: auto;
    position: relative;

    &__title {
        font-weight: 700;
        @include adaptiv-font(24, 18, 1);
        line-height: 1.4;
    }
}
.square-form-calculation {
    display: flex;
    justify-content: space-between;
    &__item {
        &:last-child{
            position: relative;
            &::before, &::after {
                position: absolute;
                bottom: 12px;
                @media (max-width: 999px){
                    bottom: 8px;
                }
                @media (max-width: 767px){
                    bottom: 11px;
                }        
    
            }
            &::before{
                content: '';
                left: 19px;
                width: calc(100% - 56px);
                height: 1.5px;
                background-color: $black;
                @media (max-width: 999px){
                    height: 1px;
                    left: 35px;
                    width: calc(100% - 110px);
                }    
            }
            &::after{
                content: 'м²';
                font-weight: 400;
                font-size: 18px;
                line-height: 1.3;
                right: 17px;
                @media (max-width: 999px){
                    right: 50px;
                }
                @media (max-width: 600px){
                    right: 37px;
                }        
                // @media (max-width: 600px){
                //     right: 11px;
                // }        
            }
            @media (max-width: 550px){
                width: 100%;
                margin-left: 0;
                margin-top: 24px;
            }
            @media (max-width: 400px){
                margin-top: 15px;
            }
        }
        &+&{
            margin-left: 11px;
        }
        &-btn {
            cursor: pointer;
            font-size: 16px;
            line-height: 1.3;
            padding: 10px 20px;
            border: 1px solid #219653;
            transition: all .3s;
            &:hover{
                @media(min-width: 993px){
                    box-shadow: inset 0 0 0 2px $green;
                    color: $green;
                }
            }
            @media (max-width: 999px){
                padding: 8.5px 44px;
            }
            @media (max-width: 767px){
                padding: 11px 22px;
            }
            @media (max-width: 330px){
                padding: 10px 15px;
            }
        }
        &-input{
            &-radio{
                display: none;
                &:checked + label{
                    color: $white;
                    background-color: $green;    
                }
            }
            border: 1px solid #219653;
            padding: 10px 20px;
            font-size: 16px;
            line-height: 1.3;
            width: 100%;
            transition: all .3s;

            &:hover{
                @media (min-width: 993px){
                    box-shadow: inset 0 0 0 2px $green;
                }
            }
            &:focus{
                box-shadow: inset 0 0 0 2px $green;
            }
            @media (max-width: 999px){
                padding: 10px 75px 7px 35px;
                text-align: center;
            }
            @media (max-width: 767px){
                padding: 12px 75px 10px 35px;
                // padding: 12px 32px 10px 21px;
                // text-align: right;
            }
            @media (max-width: 550px){
                padding: 12px 32px 10px 21px;
                width: 100%;
                text-align: center;
            }

        }
    }
    @media (max-width: 550px){
        flex-wrap: wrap;
    }
}
.header-container {
    display: grid;
    grid-template-columns: 492px calc(100% - 492px);
    padding: 40px 0;
    @media (max-width: 1099px){
        padding-top: 45px;
        grid-template-columns: 470px calc(100% - 470px);
        align-items: start;
    }
    @media (max-width: 999px){
        display: block;
        padding: 40px 0;
    }
    @media (max-width: 767px){
        padding: 30px 0;
    }

    &__head {
        grid-row-start: 1;
        grid-row-end: 2;
        padding-bottom: 20px;
        @media (max-width: 1099px){
            grid-column-start: 1;
            grid-column-end: 3;
            padding-bottom: 48px;
        }
        @media (max-width: 999px){
            padding-bottom: 42px;
        }
        @media (max-width: 767px){
            padding-bottom: 30px;
        }
    }
    &__slider {
        grid-row-start: 1;
        grid-row-end: 3;
        max-height: 500px;
        height: 100%;
        width: calc(100% - 23px);
        margin-top: 10px;
        margin-left: 23px;
        @media (max-width: 1099px){
            grid-row-start: 2;
            grid-column-start: 2;
            margin-top: 0;
            margin-left: 0;
            padding-left: 20px;
            width: 100%;
            max-height: 411px;    
        }
        @media (max-width: 999px){
            max-height: 500px;
            padding-left: 0;
        }
        @media (max-width: 767px){
            max-height: 300px;
        }

        @media (max-width: 479px){
            max-height: 210px;
        }
    }
    &__form-wrapper {
        grid-row-start: 2;
        grid-row-end: 3;
        @media (max-width: 1099px){
            grid-column-start: 1;
            grid-column-end: 2;
        }
        @media (max-width: 999px){
            margin-top: 85px;
        }
        @media (max-width: 767px){
            margin-top: 55px;
        }
    }
}
.slider-cost-calculation {
    position: relative;

    .swiper-container{
        max-height: inherit;
        border-radius: 10px;
    }

    .swiper-slide{
        img{
            background-size: cover;
            background-position: center;
            display: block;
            height: 100%;
            @media (max-width: 999px){
                width: 100%;
            }
        }
    }
    .swiper-pagination{
        width: 100%;
        left: 0;
        bottom: -48px;
        &-bullet{
            transition: all .3s;
            width: 15px;
            height: 15px;
            background-color: $blue1;
            &+.swiper-pagination-bullet{
                margin-left: 12px;
            }

            &-active{
                border-radius: 19px;
                width: 30px;
            }
        }
        @media (max-width: 1099px){
            z-index: 1;
            bottom: -40px;
        }
        @media (max-width: 999px){
            bottom: -50px;
        }
        @media (max-width: 767px){
            bottom: -35px;
        }

    }
}
.social-info-feedback {
    display: flex;
    @media (max-width: 1150px){
        margin-bottom: 30px;
    }  
    @media (max-width: 790px){
        margin-bottom: 20px;
    }   
    &__item {
        &+&{
            margin-left: 20px;
        }
    }
    &__link {}
}



@import "services-pop-up";
@import "header";
@import "cost-calculation-individal";
@import "advantages";
@import "popular-services";
@import "reviews";
@import "news";
@import "services";
@import "catalog";
@import "reviews-content";
@import "reviews-content-all";
@import "corporative";
@import "footer";
